SECRET_KEY=

DB_NAME=auth
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=postgres_auth
DB_PORT=5432

REDIS_HOST=redis_auth
REDIS_PORT=6379

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=300
JWT_REFRESH_TOKEN_EXPIRES=