Flask==2.2.2
gevent==22.10.2
psycopg2-binary==2.9.5
SQLAlchemy==2.0.2
Flask-RESTful==0.3.9
flask-jwt-extended==4.4.4
flasgger==0.9.5
redis==4.1.4
gevent==22.10.2
Flask-SQLAlchemy==3.0.3
dependency-injector
marshmallow-sqlalchemy==0.28.1
pydantic==1.10.4
uvicorn==0.18.2
pytest==6.2.5
flask_migrate

